## using mysql connector

In [17]:
!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./anaconda3/lib/python3.11/site-packages (8.4.0)

In [18]:
import mysql.connector

In [25]:
db = mysql.connector.connect (
    host="localhost",
    user="user",
    password="password"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x31302b610>

In [27]:
cursor = db.cursor()

In [31]:
cursor.execute("CREATE DATABASE example;")

In [37]:
cursor.execute("SHOW DATABASES;")
for x in cursor:
    print(x)

('example',)
('information_schema',)
('mysql',)
('new_schema',)
('performance_schema',)
('sys',)

In [43]:
cursor.execute("USE example;")

In [45]:
cursor.execute("CREATE TABLE customers (id INT NOT NULL PRIMARY KEY, name varchar(255), address varchar(255));")

In [47]:
cursor.execute("SHOW TABLES;")
for t in cursor:
    print(t)

('customers',)

In [49]:
cursor.close()

True

In [55]:
cursor = db.cursor()

In [57]:
cursor.execute("USE example;")

In [59]:
cursor.execute("DROP TABLE IF EXISTS INSTRUCTOR;")

In [61]:
table = """CREATE TABLE IF NOT EXISTS INSTRUCTOR(ID INT NOT NULL PRIMARY KEY, FNAME VARCHAR(255), LNAME VARCHAR(255), CITY VARCHAR(255), CCODE CHAR(3));"""
cursor.execute(table)
print("table created")

table created

In [65]:
insert_into = "INSERT INTO INSTRUCTOR(ID, FNAME, LNAME, CITY, CCODE) VALUES(2, 'Dilip', 'Kumar', 'Jaipur', 'DK'), (3, 'Raju', 'Maheshwari', 'Jodhpur', 'RM'), (4, 'Mahesh', 'Maheshwari', 'Kota', 'MM');"
cursor.execute(insert_into)

In [67]:
select = """SELECT * FROM INSTRUCTOR;"""
cursor.execute(select)

for i in cursor:
    print(i)

(2, 'Dilip', 'Kumar', 'Jaipur', 'DK')
(3, 'Raju', 'Maheshwari', 'Jodhpur', 'RM')
(4, 'Mahesh', 'Maheshwari', 'Kota', 'MM')

In [69]:
select1 = """SELECT FNAME FROM INSTRUCTOR;"""
cursor.execute(select1)
for f in cursor:
    print(f)

('Dilip',)
('Raju',)
('Mahesh',)

In [71]:
where = """UPDATE INSTRUCTOR SET CITY = 'AHMEDABAD' WHERE FNAME= 'RAJU';"""
cursor.execute(where)

In [73]:
select = """SELECT * FROM INSTRUCTOR;"""
cursor.execute(select)

for i in cursor:
    print(i)

(2, 'Dilip', 'Kumar', 'Jaipur', 'DK')
(3, 'Raju', 'Maheshwari', 'AHMEDABAD', 'RM')
(4, 'Mahesh', 'Maheshwari', 'Kota', 'MM')

## using pandas

In [82]:
import pandas as pd

In [84]:
df = pd.read_sql_query("SELECT * FROM INSTRUCTOR", db)

/var/folders/yx/clxpf83j5s5ggm6y06shpr2nvnkgps/T/ipykernel_39822/2997862019.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM INSTRUCTOR", db)

In [86]:
df

   ID   FNAME       LNAME       CITY CCODE
0   2   Dilip       Kumar     Jaipur    DK
1   3    Raju  Maheshwari  AHMEDABAD    RM
2   4  Mahesh  Maheshwari       Kota    MM

In [ ]:
df.LN